.Navbar {
	background: rgba(69, 90, 100, 1);
	width: 100%;
	padding: 1.5rem;
	display: flex;
	justify-content: space-around;
}

.Navbar a {
	text-decoration: none;
	color: rgba(144, 164, 174, 1);
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-weight: 300;
	transition: all 0.5s ease;
}

.Navbar a:hover {
	text-decoration: underline;
}

.Navbar a.Navbar-active {
	color: white;
}
